@font-face {
    font-family: "SFProDisplay-Regular";
    src: local("SFProDisplay-Regular"),
        url("../fonts/SFProDisplay-Regular.woff") format("woff"),
        url("../fonts/SFProDisplay-Regular.woff2") format("woff2");
    font-weight: normal;
}
@font-face {
    font-family: "SFProDisplay-Semibold";
    src: local("SFProDisplay-Semibold"),
        url("../fonts/SFProDisplay-Semibold.woff") format("woff"),
        url("../fonts/SFProDisplay-Semibold.woff2") format("woff2");
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: "SFProDisplay-Regular", sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.header {
    background: #FA8C16;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    padding-top: 16px;
    padding-bottom: 16px;
}
.header-wrapper {
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav {
    margin-left: 60px;
    margin-right: auto;
}
.header-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-menu-link {
    text-decoration: none;
    color: #fafafa;
    margin-right: 15px;
}

.input-group {
    max-width: 230px;
    width: 60%;
    height: 32px;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
}
.search-input {
    border: none;
    height: 100%;
    width: 80%;

    padding-left: 12px;
}
.search-input::placeholder {
    color: #bfbfbf;
}
.search-button {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: transparent;

    height: 100%;
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
}
.menu-toggle {
    display: none;
}

.content {
    width: 1200px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.posts {
    width: 65%;
}
.post {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
}
.post-body {
    padding: 35px 35px 0 35px;
}
.post-title {
    margin-top: 0;
    margin-bottom: 19px;

    font-family: "SFProDisplay-Semibold", sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.post-text {
    color: #262626;
}
.tags {
    margin-bottom: 22px;
}
.tag {
    color: #bfbfbf;
    margin-left: 10px;
    text-decoration: none;
}

.post-footer {
    display: flex;
    justify-content: space-between;

    padding: 13px 35px;

    border-top: 1px solid #e8e8e8;
    background-color: #fafafa;
}
.post-buttons {
    display: flex;
    align-items: center;
}
.post-button {
    display: flex;
    align-items: center;

    background-color: transparent;
    border: none;
    color: #8c8c8c;
    cursor: pointer;

    margin-right: 19px;
}
.post-button .icon {
    fill: #8c8c8c;
    width: 24px;
    height: 24px;
}
.button-counter {
    margin-left: 6px;
}
.post-author {
    display: flex;
    align-items: center;
    text-align: right;
}
.author-about {
    
    font-size: 12px;
    line-height: 20px;
}
.author-username {
    display: block;
    text-decoration: none;
    color: #8c8c8c;
}
.post-time {
    color: #8c8c8c;
}
.author-avatar {
    width: 34px;
    height: 34px;

    margin-left: 9px;
    border-radius: 4px;
}

.sidebar {
    width: 32%;
}
.user {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 25px;
    background-color: #FAFAFA;
    border: 1px solid #E8E8E8;
}
.user-info {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.user-avatar {
    border-radius: 50%;
    margin-right: 17px;
}
.user-name {
    font-family: "SFProDisplay-Semibold", sans-serif;
    font-size: 16px;
    line-height: 24px;

    color: #595959;
}
.icon-exit {
    width: 24px;
    height: 24px;
    fill: #000;

    display: flex;
    align-self: center;
}

.sidebar-nav {
    background-color: #fff;
}
.sidebar-menu {
    margin: 0;
    padding: 0;
    border: 1px solid #e8e8e8;
    border-top: none;
    list-style-type: none;
}
.sidebar-menu-link {
    text-decoration: none;
    color: #595959;

    display: inline-block;
    padding: 16px 48px;
    width: 100%;
}
.sidebar-menu-link:hover {
    background-color: #FFFBE6;
    color: #FAAD14;
}
.sidebar-menu-link.active {
    background-color: #FFFBE6;
    border-right: 3px solid #FAAD14;
}

.button {
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    background: #FAAD14;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    cursor: pointer;

    padding: 13px;
}
.button-publish-post {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    margin-top: 20px;
}
.button-outline {
    background-color: #fff;
    border: 1px solid #ffc53d;
    border-radius: 4px;
    color: #ffc53d;

    margin-right: 1%;
    padding-left: 16px;
    padding-right: 16px;
}
.icon-fire {
    fill: #fff;
    width: 16px;
    height: 16px;

    margin-right: 10px;
}
.button-outline .icon {
    width: 16px;
    height: 16px;
    fill: #ffc53d;
}

.card {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    margin-top: 20px;
}
.card-header {
    background: #FAFAFA;
    border-bottom: 1px solid #E8E8E8;
    padding: 23px 25px;
}
.card-title {
    margin: 0;

    font-family: "SFProDisplay-Semibold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}
.card-body {
    padding: 22px 40px 20px 25px;
}
.card-body-title {
    margin: 0 0 10px;

    font-family: "SFProDisplay-Semibold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #D48806;
    text-decoration: none;
}
.card-text {
    color: #262626;
    margin: 10px 0;
}

.ad {
    display: block;
    background: #fff url('../img/ad.jpg') no-repeat center center / cover;
    width: 100%;
    height: 260px;
    border: 1px solid #e8e8e8;
    margin-top: 20px;
    position: relative;
}
.ad::before {
    content: 'Ad';
    position: absolute;
    right: 0;
    top: 0;
    background: #c4c4c4;
    padding: 1px 26px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

.add-post {
    display: flex;
    flex-direction: column;
}
.add-title, .add-text {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    padding: 23px 30px;
    margin-bottom: 16px;
}
.add-text {
    min-height: 300px;
}
.add-button {
    width: 100%;
    max-width: 350px;
    margin-right: 2%;
}

@media (max-width: 990px) {
    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 20px;
        margin-left: 12px;
    }
    .menu-toggle span {
        height: 2px;
        width: 100%;
        background-color: #fff;
    }
    .header {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
    }
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-left: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        background-color: #fa8c16;
        padding: 16px 35px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    }
    .header-menu {
        width: 90%;
        margin: auto;
    }
    .content {
        margin-top: 94px;
        margin-bottom: 60px;
    }
    .sidebar {
        position: fixed;
        top: 64px;
        right: 0;
        bottom: 0;
        height: calc(100% - 118px);
        max-width: 320px;
        width: 100%;
        background-color: #fff;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
        padding: 30px;
        transform: translateX(100%);
        transition: transform 0.2s;
        overflow-y: auto;
    }
    .sidebar.visible {
        display: block;
        transform: translateX(0);
    }
    .posts {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .post-footer {
        flex-direction: column;
    }
    .post-author {
        margin-top: 15px;
    }
    .author-about {
        order: 2;
        text-align: left;
    }
    .author-avatar {
        margin-left: 0;
        margin-right: 10px; 
    }
}
